<h1>Editer le commentaire</h1>

<%= form_for @comment, method: "put" do |f| %>
  <%= f.label t('comment') %><br>
  <%= f.text_area :description, placeholder: 'mon commentaire...' %><br><br>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :post_id, value: @comment.post_id%>

  <%= f.submit 'Envoyer' %>
<% end %>