<h2>Formulaire pour un nouveau commentaire</h2>

<%= form_for @comment, :url => { :action => "create" } do |f| %>
  <%= f.text_area :description, placeholder: 'Mon commentaire...' %><br><br>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :post_id, value: @post_id %>

  <%= f.submit 'Envoyer' %>
<% end %>
