<div class="menu">
  <div class="container">
      <div class="left">
          <p><%= link_to 'Accueil', root_path %></p>
      </div>
      <div class="right">
          <p><%= link_to 'Se connecter', user_session_path, method: :get %></p>
          <p><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></p>
          <p><%= link_to "Utilisateurs", user_index_path %></p>
          <p><%= link_to "Posts", post_index_path %></p>
          <p><%= link_to "Create new Post", new_post_path %></p>
          <% if session[:username] %>
            <%= link_to "Éditer mon compte", edit_user_registration_path %>
          <% end %>
      </div>
  </div>
</div>
