<div class="menu">
  <div class="container">
      <div class="left">
          <p><img src="/assets/ruby-logo.svg" alt="Logo"><%= link_to 'Accueil', root_path %></p>
      </div>
      <div class="right">

          <% if user_signed_in? %>
            <p class="info" title="Editer mon compte"><%= link_to current_user.username, edit_user_registration_path %></p>
            <p><%= link_to "Utilisateurs", user_index_path %></p>
            <p><%= link_to "Derniers articles", post_index_path %></p>
            <p><%= link_to "Nouvel article", new_post_path %></p>
            <p><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></p>

          <% else %>
            <p><%= link_to 'Connexion', user_session_path, method: :get %></p>
          <% end %>
      </div>
  </div>
</div>
