<% @posts.each do |post| %>
    <div class="card">
        <h2 class="articleName"><%= post.id %> - <%= post.title %></h2>
        <span>De <%= post.user.username %></span>
        <span>Le <%= l post.updated_at, :format => :sample %></span>
        <p class="articleDescription"><%= post.description %></p>
        <%= link_to "Lire l'article", post_path(post.id), { :class=>"readButton" } %>
        
        <% if user_signed_in? %>
            <% if current_user.id == post.user_id %>
                <%= button_to "Delete", {:controller => "post", :action => 'destroy', :id => post.id}, :confirm => "Are you sure you want to delete it ?", :method => :delete %>
            <% end %>
        <% end %>
        
     </div>
<% end %>