<div class="card">
    <h2>Formulaire pour un nouveau post</h2>

    <%= form_for @post, :url => { :action => "create" } do |f| %>
      <%= f.label 'Titre' %>
      <%= f.text_field :title, placeholder: 'Insérez votre titre...' %>

      <%= f.label 'La description du post' %>
      <%= f.text_area :description, placeholder: 'Insérez votre description...' %>

      <%= f.label 'Ton post' %>
      <%= f.text_area :post_text, placeholder: 'Insérez votre text...' %>

      <%= f.label 'Image de couverture' %>
      <%= f.text_field :image_url, placeholder: 'Insérez votre image...' %>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.submit 'Envoyer' %>
    <% end %>
</div>
