<h2><%= @post.title %></h2>
<span><%= @user.username %></span>
<p><%= @post.description %></p>
<div>
    <p><%= @post.post_text%></p>
</div>
<% if user_signed_in? %>
            <% if current_user.id == @post.user_id %>
                <%= button_to "Delete", {:controller => "post", :action => 'destroy', :id => @post.id}, :confirm => "Are you sure you want to delete it ?", :method => :delete %>
            <% end %>
        <% end %>

<%= link_to "Commenter", comment_path(@post.id) %>
